*,
* ::before,
* ::after {

box-sizing: border-box;

}

*{

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 0;
margin: 0;

}


.manşet{
    display: flex;
    height:  100px;
    background-color: #1F2937;
    color:  #F9FAF8;
    align-items: baseline;
    padding-top: 20px;
    justify-content: space-around;

}
.manşet p{

    font-size: 24px;
    font-weight: bold;
}

.links {
display: flex;
/* justify-content: space-between  ; */
gap: 16px;
width: 450px;
color:#E5E7EB;
/* text-decoration: none;
text-weight: lighter;
padding-right: 15px; */

}
.manşet a {

color: #F9FAF8;  
font-weight: normal;
font-size: 20px;
text-decoration: none;
}

.part1{
    display: flex;
    height: 300px;
    background-color: #1F2937;
    color:  #F9FAF8;
    align-items: center;
   justify-content: center;
    
}

.part1 h1{
    display: flex;
    font-size: 36px;
    font-weight: 900;
    
  
}

.part1 p{

   font-size: 18px;
   width: 400px;
   color:#E5E7EB;
  
}
.part1 button{

    background-color: #3882f6;
    color:#F9FAF8;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.box2{
width: 400px;
height: 145px;
background-color: #616366;
text-align: center;
padding-top: 60px;
margin-left: 40px;

}
.part2{
height: 350px;
    
}

.img-container {
    background-color: white;
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 90px;
    padding-top: 30px;
  }
  
   .img {
    width: 100px;
    height: 100px;
    border: #3882f6 solid 2px;
    text-align: center;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 10%;
  }

  .Part2-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

  }
  .boxed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .part3{
    display: flex;
    height: 300px;
    background-color: #E5E7EB;
    color:  #1F2937;
    align-items: center;
   justify-content: center;
   gap :16px;
  }

  .innertext{
    display: flex;
    align-items:center;
    justify-content:right;

  }
  .text2{
    font-weight: bold;
    margin-top: 3px;
  }
  .text1{
    font-style: italic;
  }
  .part4{
    display: flex;
    height: 300px;
    background-color: #F9FAF8;
    align-items: center;
   justify-content: center;
   gap :16px;
  }
  .text4{
    display: flex;
    flex-direction: column;
    color:#FFFFFF;

    justify-content:left;
  }
.text4-button{
    background-color: #3882f6;
    color:#F9FAF8;
    border:#FFFFFF solid 2px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    font-size: 10px;
}
.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 20px;
}
.blue-box{
    background-color: #3882f6;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.text42{
    color:#F9FAF8;
    font-weight: 400;
    font-size: 10px;
}

.text41 {
    color:#F9FAF8;
    font-size: 15px;
    font-weight: bold;
}

footer{

    height: 10px;
    background-color: #1F2937;
    color:  #F9FAF8;
   text-align: center;
  padding: 20px;
  font-size: 12px;
}