*,
* ::before,
* ::after {

box-sizing: border-box;

}

*{

font-family: Roboto;
padding: 0;
margin: 0;

}


.manşet{
    display: flex;
    height:  50px;
    width: auto;
    background-color: #1F2937;
    font-size: 25px;
    color:  #F9FAF8;

}

.manşet a {

color: #F9FAF8;  
font-weight: normal;
font-size: 20px;

}